<header class="site-header">
    <div class="image-overlay">
        <div class="navbar">
            <div class="wrapper">
                <a class="site-title" href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1></a>
                <nav class="site-nav">
                    <ul class="trigger">
                        {% for page in site.pages %}
                        {% if page.title %}
                        <li>
                            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
                                {% if page.headerText %}{{ page.headerText }}{% else %}{{ page.title }}{% endif %}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <a class="button-scroll">
        <span class="fa fa-angle-down fa-3x"></span>
    </a>
</header>


