*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $base-font-family;
  @include media-query($portrait) {
    font-size: 70%;
  }
}

body {
  font-size: 1.5rem;
  line-height: 1.4;
  height: 100%;
}

a {
  text-decoration: none;
  color: #222;
  font-weight: normal;

  &:hover {
    color: #666;
  }
}

.wrapper {
  padding: 0 0.5rem;
  @include media-query($standard) {
    min-width: $content-width-standard;
    width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

p {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

.post-info {
  margin: 3rem 0;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 1rem;
  //text-transform: uppercase;

  a {
    flex: 1;
    font-size: 2rem;
    text-decoration: none;
    font-style: italic;
  }

  .post-meta {
    font-size: 1.3rem;
  }
}

.post {
  .post-header {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 1rem;
    margin-top: 1rem;

    .post-title {
      margin-bottom: 0;
    }
    .post-meta {
      margin: 0;
      font-weight: 300;
      font-size: 1.3rem;
    }
  }

}
.page {
  h1 {
    border-bottom: 1px solid #e2e2e2;
  }

  a {
    color: #1e88e5;
  }
}

.page-content {
  padding-bottom: 2rem;
  min-height: 85vh;
}