footer {
  min-height: 15vh;
  &.site-footer {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
  }

  .social-icons {
    padding-top: 1rem;
    a {
      font-size: 1.3rem;
      padding: 0 1rem;
    }
  }
}