@-webkit-keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

header {
  background: $header-background;
  color: $header-text-color;

  .navbar {
    text-transform: uppercase;
  }
  .button-scroll {
    display: none;
    opacity: 0;
    height: 0;
  }
  &.home-page {
    height: 100vh;
    background: rgb(0, 0, 0);
    background: url('/images/photo-8.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    position: relative;

    .navbar {
      background: rgba(0, 0, 0, 0.75);
    }

    .button-scroll {
      color: #fff;
      cursor: pointer;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      padding-bottom: 1rem;
      animation: bounce 5s 2s infinite;
      display: block;
      opacity: 1;
      height: auto;
    }

    .image-overlay {
      background-color: rgba(0, 0, 0, 0.2);
      height: 100vh;
    }
  }

  a {
    color: white;
    transition: 0.3s;
    &:hover {
      color: rgba(white, 0.9);
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    padding-right: 0;

    nav {
      ul {
        height: $header-height;
        display: flex;
        align-items: center;
        line-height: $header-height;
        li {
          a {
            display: block;
            padding: 0 2rem;
          }
        }
      }
    }
  }

  .site-title {
    font-size: 2.5rem;
    flex: 1;
    letter-spacing: 3px;
    font-weight: bold;
    line-height: 2;
  }

  .social-icons {
    a {
      font-size: 1rem;
      padding: 0 0.2rem;
    }
  }

}


