header {
  background: $header-background;
  color: $header-text-color;
  &.home-page {
    height: 100vh;
    background: url('/images/photo-1.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    overflow: hidden;

    .navbar {
      background: rgba(0, 0, 0, 0.75);
    }
  }

  a {
    color: rgba(white, 0.9);
    transition: 0.3s;
    &:hover {
      color: white;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    padding-right: 0;

    nav {
      ul {
        height: $header-height;
        display: flex;
        align-items: center;
        line-height: $header-height;
        li {
          a {
            display: block;
            padding: 0 2rem;
          }
        }
      }
    }
  }

  .site-title {
    font-size: 2.5rem;
    flex: 1;
    letter-spacing: 3px;
    font-weight: bold;
    line-height: 2;
  }

  .social-icons {
    a {
      font-size: 1rem;
      padding: 0 0.2rem;
    }
  }

}
