// Our variables
$base-font-family: 'Open Sans', Arial, sans-serif;
$base-line-height: 1.5;
$header-height: 50px;
// Width of the content area
$content-width-standard: 900px;
$header-background: #000;
$header-text-color: #fff;
$portrait: 720px;
$standard: 960px;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "reset",
        "syntax-highlighting",
        "base",
        "header",
        "footer";
